<h2 class="ui center aligned icon header">
  <i class="circular orange rocketchat icon"></i>
  Say something
</h2>
<div class="ui grid fluid container">
  <div class="twelve wide column">
    <div class="ui fluid card chatbox">
      <div class="content" id="messages">
        <%= render @messages %>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: {class: "ui form", role: "form"}, url: message_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body, placeholder: "Enter a message...", autocomplete: "on" %>
              <%= f.button '<i class="orange large fitted edit icon"></i>'.html_safe, class: "ui basic icon button", id: "message_button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid card chatbox">
      <div class="content">
        <div class="ui inverted vertical fluid menu">
          <%= render @users %>
        </div>
      </div>
    </div>
  </div>
</div>
